# CONTENTS

#importing libraries
#Importing google drive#
#Importing the df from drive#
#Reviewing key statistics for the continuous variables
#looking at unique values in each column
#There are 12 different home tams, but 13 different away teams - need to investigate
#looking at the subset of all IXX World XI games

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Importing google drive#

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Importing the df from drive#

df = pd.read_csv('/test_Matches_Data_Clean_Post 1900.csv')

In [4]:
df.head()

,Match ID,Match Name,Start Date,End Date,Format,Team 1,Innings 1 Team 1 Runs,Innings 1 Team 1 Wickets,Innings 1 Team 1 Extras,Innings 2 Team 1 Runs,...,Innings 2 Team 2 Runs,Innings 2 Team 2 Wickets,Innings 2 Team 2 Extras,Venue,City,Country,Toss Winner,Toss Winner Choice,Winner,Result
0,62387,Australia Vs South Africa,27/05/1912,28/05/1912,TEST,Australia,448,10,24,NaN,...,95.0,10.0,9.0,Old Trafford,Manchester,England,Australia,bat,Australia,Australia won by an innings and 88 runs
1,62388,England Vs South Africa,10/06/1912,12/06/1912,TEST,South Africa,58,10,17,217.0,...,NaN,NaN,NaN,Lord's,London,England,South Africa,bat,England,England won by an innings and 62 runs
2,62389,England Vs Australia,24/06/1912,26/06/1912,TEST,England,310,7,22,NaN,...,NaN,NaN,NaN,Lord's,London,England,England,bat,NaN,Match drawn
3,62390,England Vs South Africa,08/07/1912,10/07/1912,TEST,England,242,10,14,238.0,...,159.0,10.0,11.0,Headingley,Leeds,England,England,bat,England,England won by 174 runs
4,62391,Australia Vs South Africa,15/07/1912,17/07/1912,TEST,South Africa,263,10,29,173.0,...,48.0,0.0,1.0,Lord's,London,England,South Africa,bat,Australia,Australia won by 10 wickets

In [15]:
#Reviewing key statistics for the continuous variables

df_stats = df[['Innings 1 Team 1 Runs',
'Innings 1 Team 1 Wickets',
'Innings 1 Team 1 Extras',
'Innings 2 Team 1 Runs',
'Innings 2 Team 1 Wickets',
'Innings 2 Team 1 Extras',
'Innings 1 Team 2 Runs',
'Innings 1 Team 2 Wickets',
'Innings 1 Team 2 Extras',
'Innings 2 Team 2 Runs',
'Innings 2 Team 2 Wickets',
'Innings 2 Team 2 Extras'
]].describe()

In [17]:
df_stats

,Innings 1 Team 1 Runs,Innings 1 Team 1 Wickets,Innings 1 Team 1 Extras,Innings 2 Team 1 Runs,Innings 2 Team 1 Wickets,Innings 2 Team 1 Extras,Innings 1 Team 2 Runs,Innings 1 Team 2 Wickets,Innings 1 Team 2 Extras,Innings 2 Team 2 Runs,Innings 2 Team 2 Wickets,Innings 2 Team 2 Extras
count,2473.000000,2473.00000,2473.000000,2156.000000,2156.000000,2156.000000,2455.000000,2455.000000,2455.000000,1915.000000,1915.000000,1915.000000
mean,328.962798,9.47594,16.707643,241.143321,7.937848,14.472635,316.480652,9.523829,18.000407,185.065796,6.530548,11.574935
std,135.668995,1.38368,9.874816,105.842116,2.919943,9.227905,136.920010,1.424600,11.221432,100.942750,3.694510,8.870012
min,7.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,225.000000,10.00000,10.000000,170.000000,6.000000,8.000000,215.000000,10.000000,10.000000,111.000000,3.000000,5.000000
50%,312.000000,10.00000,15.000000,234.000000,10.000000,13.000000,300.000000,10.000000,16.000000,178.000000,8.000000,10.000000
75%,426.000000,10.00000,22.000000,303.000000,10.000000,19.000000,406.000000,10.000000,24.000000,250.000000,10.000000,17.000000
max,903.000000,10.00000,64.000000,680.000000,10.000000,68.000000,952.000000,10.000000,76.000000,657.000000,10.000000,61.000000

In [18]:
df_stats.to_csv('df_stats.csv', index=False)

In [19]:
#looking at unique values in each column

unique_counts = df.nunique()
print(unique_counts)

Match ID                    2473
Match Name                   390
Start Date                  2289
End Date                    2341
Format                         1
Team 1                        12
Innings 1 Team 1 Runs        573
Innings 1 Team 1 Wickets      10
Innings 1 Team 1 Extras       61
Innings 2 Team 1 Runs        479
Innings 2 Team 1 Wickets      11
Innings 2 Team 1 Extras       57
Team 2                        13
Innings 1 Team 2 Runs        578
Innings 1 Team 2 Wickets      11
Innings 1 Team 2 Extras       67
Innings 2 Team 2 Runs        416
Innings 2 Team 2 Wickets      11
Innings 2 Team 2 Extras       51
Venue                        151
City                          92
Country                       12
Toss Winner                   12
Toss Winner Choice             2
Winner                        12
Result                      1036
dtype: int64

In [21]:
#There are 12 different home tams, but 13 different away teams - need to investigate

print("Unique values in Team 1:")
print(df['Team 1'].unique())

print("\nUnique values in Team 2:")
print(df['Team 2'].unique())

Unique values in Team 1:
['Australia' 'South Africa' 'England' 'West Indies' 'New Zealand' 'India'
 'Pakistan' 'Sri Lanka' 'Zimbabwe' 'Bangladesh' 'Ireland' 'Afghanistan']

Unique values in Team 2:
['South Africa' 'England' 'Australia' 'West Indies' 'New Zealand' 'India'
 'Pakistan' 'Sri Lanka' 'Zimbabwe' 'Bangladesh' 'ICC World XI' 'Ireland'
 'Afghanistan']

Answer is clear: ICC world XI have never played as the home team.

In [24]:
#looking at the subset of all IXX World XI games


df_ICC=  df[df['Team 2']=='ICC World XI']

In [25]:
df_ICC

,Match ID,Match Name,Start Date,End Date,Format,Team 1,Innings 1 Team 1 Runs,Innings 1 Team 1 Wickets,Innings 1 Team 1 Extras,Innings 2 Team 1 Runs,...,Innings 2 Team 2 Runs,Innings 2 Team 2 Wickets,Innings 2 Team 2 Extras,Venue,City,Country,Toss Winner,Toss Winner Choice,Winner,Result
1703,221840,Australia Vs Icc World Xi Only Test,14/10/2005,17/10/2005,TEST,Australia,345,10,25,199.0,...,144.0,10.0,7.0,Sydney Cricket Ground,Sydney,Australia,Australia,bat,Australia,Australia won by 210 runs

They have only played one match - won't affect the data, so will leave it in